In [10]:
import pandas as pd
import matplotlib.pyplot as plt
filepath = '/Users/ahmadsadiq/Documents/team f/ds-police-overtime/fa23-team-f/data/finalconsolidatedcy22earnings_feb2023.xlsx-sheet1.csv'
employee_earnings = pd.read_csv(filepath)
print(employee_earnings)

                           NAME                 DEPARTMENT_NAME  \
0                Gavin,Donna M.        Boston Police Department
1             Cassellius,Brenda                  Superintendent
2                  Dempsey,John          Boston Fire Department
3              Demesmin,Stanley        Boston Police Department
4                  Smith,Sean P        Boston Police Department
...                         ...                             ...
23199  wheeler,Stephen clifford  Boston Cntr - Youth & Families
23200             Harris,Gloria       BPS Office Of Budget Mgmt
23201       Jackson,Wanita Tina        Boston Police Department
23202              Paul,Desmond    BPS Substitute Teachers/Nurs
23203         Robinson,Marvin L    BPS Substitute Teachers/Nurs

                         TITLE     REGULAR RETRO         OTHER    OVERTIME  \
0      Police Lieutenant (Det)   53,226.90   NaN  1,045,845.44      463.52
1               Superintendent  179,109.61   NaN    417,839.83         NaN
2           Commissioner (BFD)  133,653.78   NaN    312,752.53         NaN
3      Police Lieutenant (Det)  145,775.26   NaN     13,932.92  196,515.25
4            Police Lieutenant  142,535.62   NaN     18,827.45  142,692.38
...                        ...         ...   ...           ...         ...
23199              Lifeguard I       42.01   NaN           NaN         NaN
23200                Attendant       24.23   NaN           NaN         NaN
23201      School Traffic Supv       23.68   NaN           NaN         NaN
23202    Substitute Teacher HE       21.28   NaN           NaN         NaN
23203    Substitute Teacher HE       14.06   NaN           NaN         NaN

      INJURED     DETAIL QUINN_EDUCATION  TOTAL_ GROSS POSTAL
0         NaN        NaN       12,812.39  1,112,348.25  02186
1         NaN        NaN             NaN    596,949.44  55419
2         NaN        NaN             NaN    446,406.31  02152
3         NaN  11,880.00       29,155.26    397,258.69  02052
4         NaN  46,365.00       35,633.88    386,054.33  02186
...       ...        ...             ...           ...    ...
23199     NaN        NaN             NaN         42.01  02129
23200     NaN        NaN             NaN         24.23  02136
23201     NaN        NaN             NaN         23.68  02119
23202     NaN        NaN             NaN         21.28  02119
23203     NaN        NaN             NaN         14.06  02126

[23204 rows x 12 columns]

In [13]:
employee_earnings.head()

,NAME,DEPARTMENT_NAME,TITLE,REGULAR,RETRO,OTHER,OVERTIME,INJURED,DETAIL,QUINN_EDUCATION,TOTAL_ GROSS,POSTAL
0,"Gavin,Donna M.",Boston Police Department,Police Lieutenant (Det),"53,226.90",NaN,"1,045,845.44",463.52,NaN,NaN,"12,812.39","1,112,348.25",02186
1,"Cassellius,Brenda",Superintendent,Superintendent,"179,109.61",NaN,"417,839.83",NaN,NaN,NaN,NaN,"596,949.44",55419
2,"Dempsey,John",Boston Fire Department,Commissioner (BFD),"133,653.78",NaN,"312,752.53",NaN,NaN,NaN,NaN,"446,406.31",02152
3,"Demesmin,Stanley",Boston Police Department,Police Lieutenant (Det),"145,775.26",NaN,"13,932.92","196,515.25",NaN,"11,880.00","29,155.26","397,258.69",02052
4,"Smith,Sean P",Boston Police Department,Police Lieutenant,"142,535.62",NaN,"18,827.45","142,692.38",NaN,"46,365.00","35,633.88","386,054.33",02186

In [14]:
print('earnings21')
employee_earnings.isnull().sum()

earnings21

NAME                   0
DEPARTMENT_NAME        0
TITLE                  0
REGULAR              600
RETRO              20112
OTHER               7378
OVERTIME           16392
INJURED            21983
DETAIL             21088
QUINN_EDUCATION    21835
TOTAL_ GROSS           0
POSTAL                 0
dtype: int64

In [15]:
def num_nans(employee_earnings):
    return employee_earnings.isna().any(axis=1).sum()

print("there are " + str(num_nans(employee_earnings)) + " rows with at least one empty value")

there are 23203 rows with at least one empty value

In [17]:
def drop_na(employee_earnings):
    cols = employee_earnings.columns[employee_earnings.isna().sum() > 200]
    return employee_earnings.drop(columns=cols)

employee_earnings = drop_na(employee_earnings)
employee_earnings.columns

Index(['NAME', 'DEPARTMENT_NAME', 'TITLE', 'TOTAL_ GROSS', 'POSTAL'], dtype='object')