In [20]:
import matplotlib as plt
import csv
import pandas as pd
import numpy as np

field = pd.read_csv('2023fielddata.csv')
field.head()

,fc_num,contact_date,contact_officer,contact_officer_name,supervisor,supervisor_name,street,city,state,zip,...,basis,vehicle_year,vehicle_state,vehicle_model,vehicle_color,vehicle_style,vehicle_type,key_situations,contact_reason,weather
0,FC22000008,2022-01-01 00:00:00,151206,"WATTY-NILES, CREFTON",11586,CHRISTOPHER CARROLL,ALBANY ST,BOSTON,MA,2118,...,Reasonable Suspicion,NaN,NaN,NaN,NaN,NaN,NaN,NaN,01/01/2022 11:40 PM\n\nOfficers responded to a...,NaN
1,FC22000001,2022-01-01 02:30:00,153132,"VILLEGAS-HOAG, STEPHANIE",11212,MICHAEL MCCARTHY,NaN,BOSTON,MA,2122,...,Probable Cause,2008.0,MA,Taurus,Brown,"4 Door, Sedan",Passenger Car/ Automobile,NaN,"About 02:30am, Officers assisted State Police ...",NaN
2,FC22000004,2022-01-01 09:29:00,148290,"PARHAM, ANTHONY",10845,JAMES MOORE,BRIARCLIFF,MATTAPAN,MA,2126,...,Encounter,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"About 10:00AM, Saturday 1/1/21 Officers respon...",NaN
3,FC22000003,2022-01-01 10:16:00,162319,"Uhrig, Robert",9266,STEVEN CICCOLO,E EIGHTH ST,SOUTH BOSTON,MA,2127,...,Reasonable Suspicion,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"About 10:16am on Saturday, 01/01/22, Officers ...",NaN
4,FC22000005,2022-01-01 10:29:00,100417,"FLYNN, THOMAS",11212,MICHAEL MCCARTHY,ROBINSON ST,DORCHESTER,MA,2122,...,Probable Cause,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Officers responded to a radio call for a B&E t...,NaN

In [26]:
def extract_zips(data, dict):
    if type(data) != int:
        return
    else:
        strdata = str(data)
        if len(strdata) == 4:
                strdata = '0' + strdata
        if strdata not in dict:
            dict[strdata] = 1
        else:
            dict[strdata] += 1

In [27]:
zips = field['zip']
zips.head()
zipdict = {}
for row in field['zip']:
    extract_zips(row, zipdict)
print(zipdict)

{'02118': 769, '02122': 250, '02126': 222, '02127': 95, '02136': 84, '02109': 48, '02119': 553, '02121': 617, '02114': 93, '02111': 161, '02124': 714, '02125': 368, '02215': 76, '02116': 242, '02120': 109, '02131': 46, '02108': 76, '02110': 45, '02132': 24, '02134': 35, '02128': 142, '02135': 64, '02199': 43, '02113': 12, '02115': 99, '02130': 169, '02026': 1, '02129': 74, '02210': 18, '02909': 1, '02472': 1, '02492': 1, '02139': 4, '01970': 1, '02446': 2, '02050': 1, '02203': 8, '02186': 1, '02151': 1, '02302': 1, '02465': 1, '02201': 1, '01890': 1, '02458': 1, '02169': 1, '02081': 1, '02452': 1}

0hi