In [11]:
import pandas as pd
df = pd.read_excel('2020_Details.xlsx')
df[df["Employee"] == "BARTLETT,DORSTON"].head()

Empty DataFrame
Columns: [Tracking_No, Emp. ID, Employee, Rank, Street, xStreet, Detail
Date, Start
Time, End
Time, Hours
Worked, Hours
Paid, Type, Customer No., Customer, Customer Address, Customer Address 1, Customer Address 3, Customer_City, Customer_State, Customer_zip]
Index: []

In [13]:
df[df["Employee"] == "GARNEY,BRIAN"].head()
# Data Import
overtime12 = pd.read_excel('2012_Details.xlsx')
overtime13 = pd.read_excel('2013_Details.xlsx')
overtime14 = pd.read_excel('2014_Details.xlsx')
overtime15 = pd.read_excel('2015_Details.xlsx')
overtime16 = pd.read_excel('2016_Details.xlsx')
overtime17 = pd.read_excel('2017_Details.xlsx')
overtime18 = pd.read_excel('2018_Details.xlsx')
overtime19 = pd.read_excel('2019_Details.xlsx')
overtime20 = pd.read_excel('2020_Details.xlsx')
overtime21 = pd.read_excel('2021_Details.xlsx')
# Counting overtime frequency

# Sort data
#overtime_freq.sort_values('overtime_count', ascending=False, inplace=True)
# export data - 2129 employees
#overtime_freq.to_csv('frequent overtime users.csv')

In [34]:
x = [overtime12, overtime13, overtime14, overtime15, overtime16, overtime17, overtime18, overtime19, overtime20, overtime21]
z = 2012
for a in x:
    a["year"] = z
    z += 1
overtime_freq = pd.concat([overtime12, overtime13, overtime14, overtime15, overtime16, overtime17, overtime18, overtime19, overtime20, overtime21])
#overtime_freq = overtime_freq[['Tracking_No', 'Emp. ID', 'Employee']]
overtime_freq["years"] = overtime_freq.groupby('Emp. ID')['year'].transform('nunique')
overtime_freq['overtime_count'] = overtime_freq.groupby(['Emp. ID'])['Emp. ID'].transform('count')
overtime_freq.drop_duplicates(subset=['Emp. ID', 'Employee'], inplace=True)
overtime_freq["overtime_avg"] = overtime_freq.apply(lambda x: x.overtime_count/x.years, axis=1)
# Sort data
overtime_freq.sort_values('overtime_avg', ascending=False, inplace=True)
# export data - 2129 employees
overtime_freq.to_csv('frequent overtime users1.csv')